---
import { MY_EMAIL } from "../../constants";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import CircularButton from "../CircularButton.astro";
import LinkTo from "../ui/LinkTo.astro";
import Section from "../ui/Section.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Section
  id="contact"
  extra="flex h-full w-full items-center justify-center flex-1 min-h-[500px] overflow-hidden"
>
  <div id="content" class="w-full flex flex-col md:flex-row md:justify-between items-center">
    <div class="w-full flex flex-col text-xl md:text-2xl relative mb-10 md:mb-0">
      <h3 class="text-6xl mb-4 md:mb-8 font-bold">
        {t('contact.title.1')}<span class="text-primary">{t('contact.title.2')}</span>{t('contact.title.3')}
      </h3>
      <div class="leading-normal flex flex-col items-start gap-0 md:gap-2">
        <LinkTo link={`mailto:${MY_EMAIL}`}>
          {MY_EMAIL}
        </LinkTo>
        <LinkTo link="https://wa.me/51984632346">+51984632346</LinkTo>
      </div>
    </div>
    <CircularButton width="w-52" />
  </div>
</Section>

<style>
  @keyframes slideUpContact {
    0% {
      opacity: 0;
      transform: translateY(150%);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  #content.hide{
    opacity: 0;
  }
  #content:not(.hide){
    animation: slideUpContact .6s ease-out forwards;
  }
</style>
