---
import Section from "../Section.astro";
import Carousel from "../Carousel.astro";
---

<Section id="home" extra="flex-1 min-h-500 md:min-h-700">
  <div
    class="flex flex-col gap-10 md:gap-20 justify-start md:justify-center text-lg md:text-3xl py-20 md:py-0 relative"
  >
    <span class="text-5xl md:text-8xl font-extrabold block md:flex gap-5">
      <span class="text-green-theme hidden md:block">{">"}</span>
      <span class="text-green-theme block md:hidden mb-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M5 7l5 5l-5 5"></path>
          <path d="M13 17l6 0"></path>
        </svg>
      </span>
      <h1>
        <span class="">Full-Stack</span>{" "}<span
          class="font-semibold italic opacity-50">Developer</span
        >
      </h1>
    </span>
    <div class="flex justify-end ml-auto">
      <p class="block md:hidden">
        Dedicated to creating digital solutions, bringing ideas to life and
        crafting extraordinary digital realities on the ever-evolving web.
      </p>
      <p class="hidden md:block">
        Dedicated to creating digital solutions, bringing ideas to <br /> life
        and crafting extraordinary digital realities on the <br /> ever-evolving
        web.
      </p>
    </div>
    <div
      class="text-sm md:text-xl uppercase w-full bg-gradient-to-r from-black via-zinc-900 to-black p-3 md:py-5 flex justify-between px-0 md:px-10 overflow-hidden"
    >
      <Carousel />
    </div>
    <p class="text-right text-base md:text-2xl">
      If you can <span class="font-bold">dream</span> it, I can <span
        class="font-bold">build</span
      > it
    </p>
  </div>
</Section>
