---
const { skill } = Astro.props;
---

<span
  class="bg-gray-theme px-4 py-1 rounded-full text-lg transition-all duration-200 cursor-default shadow-lg hover:bg-green-theme hover:bg-opacity-70"
>
  {skill}
</span>
