<span class="text-primary hidden md:block text-7xl">{">"}</span>
<span class="text-primary block md:hidden mb-3">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="40"
    height="40"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path d="M5 7l5 5l-5 5"></path>
    <path d="M13 17l6 0"></path>
  </svg>
</span>
