---
interface Props {
  id: string;
  extra?: string;
  wAnimation?: boolean;
}

const { id, extra, wAnimation = true } = Astro.props;
---

<section
  id={id}
  class={`${
    wAnimation ? "section" : ""
  } w-full pt-14 md:pt-28 pb-10 md:pb-20 ${extra}`}
>
  <slot />
</section>

<style>
  .section {
    animation: appear ease-out both;
    animation-timeline: view(block);
    animation-range: cover 20% cover 40%;
  }
</style>
