---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { ViewTransitions } from "astro:transitions";
import FontLoader from "./FontLoader.astro";

interface Props {
  title?: string;
}

const { title = "Daniela Paiva" } = Astro.props;
---

<!doctype html>
<html lang="en" style="scrollbar-gutter: stable;" class="scroll-smooth dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <FontLoader />
  </head>
  <body
    class="transition-all duration-200 ease-in-out bg-creame dark:bg-black font-sans text-black dark:text-white flex items-center flex-col min-h-screen overflow-x-hidden selection:bg-emerald-500 selection:text-black scroll-px-0 md:scroll-px-80 font-light text-base md:text-xl"
  >
    <Header />
    <main
      class="w-full max-w-7xl flex items-center flex-col h-full flex-1 px-7"
    >
      <slot />
    </main>
    <Footer />
    <style is:global>
      @font-face {
        font-family: "Raleway";
        src: url("/fonts/Raleway-Black.woff") format("woff");
        font-weight: 900;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Raleway";
        src: url("/fonts/Raleway-BlackItalic.woff") format("woff");
        font-weight: 900;
        font-style: italic;
        font-display: swap;
      }
      @font-face {
        font-family: "Raleway";
        src: url("/fonts/Raleway-Bold.woff") format("woff");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Raleway";
        src: url("/fonts/Raleway-BoldItalic.woff") format("woff");
        font-weight: 700;
        font-style: italic;
        font-display: swap;
      }
      @font-face {
        font-family: "Raleway";
        src: url("/fonts/Raleway-ExtraBold.woff") format("woff");
        font-weight: 800;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Raleway";
        src: url("/fonts/Raleway-ExtraBoldItalic.woff") format("woff");
        font-weight: 800;
        font-style: italic;
        font-display: swap;
      }
      @font-face {
        font-family: "Raleway";
        src: url("/fonts/Raleway-ExtraLight.woff") format("woff");
        font-weight: 200;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Raleway";
        src: url("/fonts/Raleway-ExtraLightItalic.woff") format("woff");
        font-weight: 200;
        font-style: italic;
        font-display: swap;
      }
      @font-face {
        font-family: "Raleway";
        src: url("/fonts/Raleway-Italic.woff") format("woff");
        font-weight: 400;
        font-style: italic;
        font-display: swap;
      }
      @font-face {
        font-family: "Raleway";
        src: url("/fonts/Raleway-Light.woff") format("woff");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Raleway";
        src: url("/fonts/Raleway-LightItalic.woff") format("woff");
        font-weight: 300;
        font-style: italic;
        font-display: swap;
      }
      @font-face {
        font-family: "Raleway";
        src: url("/fonts/Raleway-Medium.woff") format("woff");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Raleway";
        src: url("/fonts/Raleway-MediumItalic.woff") format("woff");
        font-weight: 500;
        font-style: italic;
        font-display: swap;
      }
      @font-face {
        font-family: "Raleway";
        src: url("/fonts/Raleway-Regular.woff") format("woff");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Raleway";
        src: url("/fonts/Raleway-SemiBold.woff") format("woff");
        font-weight: 600;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Raleway";
        src: url("/fonts/Raleway-SemiBoldItalic.woff") format("woff");
        font-weight: 600;
        font-style: italic;
        font-display: swap;
      }
      @font-face {
        font-family: "Raleway";
        src: url("/fonts/Raleway-Thin.woff") format("woff");
        font-weight: 100;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Raleway";
        src: url("/fonts/Raleway-ThinItalic.woff") format("woff");
        font-weight: 100;
        font-style: italic;
        font-display: swap;
      }
      html {
        font-family: "Raleway", sans-serif;
      }
      article {
        font-weight: 400;
        line-height: 1.7;
        letter-spacing: normal;
        color: #060816;
      }
      html.dark article {
        color: #e9e6e2;
      }
      article h2 {
        font-weight: bold;
        margin-bottom: 10px;
      }
      article p {
        margin-bottom: 40px;
      }
      article ul {
        margin: 10px 0px 30px 20px;
        list-style: disc;
      }
      article ol {
        margin: 10px 0px 30px 27px;
        list-style: auto;
      }
      article ul li:last-child p,
      article ol li:last-child p {
        margin-bottom: 0px;
      }

      article pre {
        border-radius: 5px;
        padding-inline: 10px;
        margin-top: 10px;
      }
    </style>
    <script is:inline>
    const theme = (() => {
      if (
        typeof localStorage !== "undefined" &&
        localStorage.getItem("theme")
      ) {
        return localStorage.getItem("theme");
      }
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        return "dark";
      }
      return "dark";
    })();

    if (theme === "light") {
      document.documentElement.classList.remove("dark");
    }

    window.localStorage.setItem("theme", theme);
    </script>
  </body>
</html>
