---
const { skill } = Astro.props;
---

<span
  class="bg-gray-accent dark:bg-gray-theme px-4 py-1 rounded-full text-lg transition-all duration-200 cursor-default hover:bg-primary hover:text-white"
>
  {skill}
</span>
